/* Digital */
* {
  box-sizing: border-box;
}
.container-dig {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 4px solid blue;
  background-color: #dcdcdc;
  line-height: 1;
}
p {
  line-height: 1.5;
}
h1 {
  color: blue;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
}
#goals {
  padding: 10px 10px 80px 10px;
  grid-column: 1/3;
  border: 3px solid blue;
}
#scope {
  padding: 10px;

  grid-column: 1/3;
  grid-row: 2;
  border: 3px solid blue;
}
#team {
  padding: 10px;

  border: 3px solid blue;
}
#primary {
  padding: 10px;
  border: 3px solid blue;
}
#timeline {
  padding: 10px;

  grid-column: 4/-1;
  grid-row: 1/3;
  border: 3px solid blue;
}
.content-dig {
  display: grid;
  grid-template-columns: 20% 80%;
  border-bottom: 1px solid #c0c0c0;
  align-items: center;
}
.img-gol {
  padding-left: 25%;

  font-size: 32px;
}
.img-team {
  font-size: 32px;
}
.content-scop {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.number {
  width: 48px;
  color: white;
  padding: 10px;
  font-size: 24px;
  background-color: #a7749e;
  border-radius: 100%;
  border: 1px solid black;
}
.content-time {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}
.text-- {
  border-bottom: 1px dashed #c0c0c0;
}
@media (max-width: 500px) {
  .container-dig {
    grid-template-columns: 1fr;
  }
  #goals {
    grid-column: 1;
    grid-row: 1;
  }
  #scope {
    grid-column: 1;
    grid-row: 2;
  }
  #team {
    grid-column: 1;
    grid-row: 3;
  }
  #primary {
    padding: 10px;
    grid-column: 1;
    grid-row: 4;
  }
  #timeline {
    padding: 10px;
    grid-column: 1;
    grid-row: 5;
  }
  .content-dig {
    grid-template-columns: 1fr;
  }
  .img-gol {
    padding: 10px 0;
    text-align: center;
  }
  .img-team {
    padding-top: 10px;
    text-align: center;
  }
  .content-scop {
    grid-template-columns: 1fr;
  }
  .content-time {
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .container-dig {
    grid-template-columns: 1fr;
  }
  #goals {
    grid-column: 1;
    grid-row: 1;
  }
  #scope {
    grid-column: 1;
    grid-row: 2;
  }
  #team {
    grid-column: 1;
    grid-row: 3;
  }
  #primary {
    padding: 10px;
    grid-column: 1;
    grid-row: 4;
  }
  #timeline {
    padding: 10px;
    grid-column: 1;
    grid-row: 5;
  }
  .content-dig {
    grid-template-columns: 1fr;
  }
  .img-gol {
    padding: 10px 0;
    text-align: center;
  }
  .img-team {
    padding-top: 10px;
    text-align: center;
  }
  .content-scop {
    grid-template-columns: 1fr;
  }
  .content-time {
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
}
