@media (max-width: 1023px) {
  .lopphu {
    width: 100%;
  }
  header img {
    width: 100%;
  }
  .container-1 {
    display: none;
  }
  .name {
    padding: 0 20px;
  }
  .name img {
    display: none;
  }
  #target {
    padding: 50px 10px 0 20px;
  }
  #personal-info {
    padding: 50px 0 0 20px;
  }
  #target h1,
  #personal-info h1 {
    line-height: 2;
  }
  .job-info {
    width: auto;
    height: auto;
    margin-top: 40px;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .certificate- {
    width: auto;
    margin: auto;
    padding: 40px 0 40px 20px;
  }
  .items-certificate {
    display: grid;
    grid-template-columns: 1fr;
  }

  .items-certificate img {
    width: 300px;
  }

  .project- {
    margin: auto;
    padding: 20px 0 40px 20px;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .project-container img {
    width: 240px;
    height: 333px;
  }

  .icon--info {
    padding-bottom: 20px;
  }
}
